.login-bottom-link {
  width: 100%;
  margin-top: 32px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  .login-link {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #141A7F;
  }
}

