.customer-cards-container {
  padding: 16px 32px 48px;
  border-bottom: 1px solid #EAECF0;
  border-right: 1px solid #EAECF0;

  .customer-filters-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    
    .customer-filters-status {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .customer-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}