.customer-cards-container {
  padding: 16px 32px 48px;
  border-bottom: 1px solid #EAECF0;
  border-right: 1px solid #EAECF0;

  .customer-filters {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
  }

  .customer-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}