.signup-form {
  .signup-inputs {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .signup-passw-rule {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #868687;
  }

  .signup-btns {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .section-button {
      width: 100%;
      border: 1px solid #141A7F;

      &:hover, .filled:hover {
        color: inherit !important;
        background-color: inherit !important;
      }
    }
  }
}