.login-form {
  width: 360px;
  height: 383px;

  .login-inputs {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .login-btns {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .section-button {
      width: 100%;
      background-color: #141A7F;
      color: #FFF;
      border: 1px solid #141A7F;
    }
  }
}
