.section-button {
  height: 42px;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #141A7F;
  border: 1px solid #141A7F;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #1018280D;
  cursor: pointer;
}
.isFilled{
  background-color: #141A7F !important;
  color: #ffffff  !important;
}